/* 响应式 */
* {
    box-sizing: border-box;
}
body {
    background-size: cover;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 最大宽度 */
    max-width: 100%;
    /* 设置图片不重现实现 */
    background-image: url('file:///D:/Users/Administrator/Desktop/javascript/images/135613pkm3mx9mjmg6bmhp.jpg');
}   


/* 
    文本属性	     属性描述

    color	        设置文本颜色
    direction	    设置文本方向。
    letter-spacing	设置字符间距
    line-height	    设置行高
    text-align	    对齐元素中的文本
    text-decoration	向文本添加修饰
    text-indent	    缩进元素中文本的首行
    text-shadow	    设置文本阴影
    text-transform	控制元素中的字母
    unicode-bidi	设置或返回文本是否被重写 
    vertical-align	设置元素的垂直对齐
    white-space	    设置元素中空白的处理方式
    word-spacing	设置字间距
 */

 /* 
    背景属性                 属性描述

    background      	    简写属性，作用是将背景属性设置在一个声明中。
    background-attachment   背景图像是否固定或者随着页面的其余部分滚动。
    background-color	    设置元素的背景颜色。
    background-image	    把图像设置为背景。
    background-position	    设置背景图像的起始位置。
    background-repeat	    设置背景图像是否及如何重复。

 */

 /*
    字体属性         属性描述

    font	        在一个声明中设置所有的字体属性
    font-family	    指定文本的字体系列
    font-size	    指定文本的字体大小
    font-style	    指定文本的字体样式
    font-variant	以小型大写字体或者正常字体显示文本。
    font-weight	    指定字体的粗细。     

*/

/*
   链接样式                    链接样式颜色状态
   a:link {color:#000000;}     未访问链接
   a:visited {color:#00FF00;}  已访问链接 
   a:hover {color:#FF00FF;}    鼠标移动到链接上 
   a:active {color:#0000FF;}   鼠标点击时 

   注意：还可以设置其他操作 例如 背景颜色 || 删除a标签 下划线等等
   注意：在CSS定义中，a:hover 必须被置于 a:link 和 a:visited 之后，才是有效的。
   注意：在 CSS 定义中，a:active 必须被置于 a:hover 之后，才是有效的。

*/

/* 
    列表属性             属性描述

    list-style	        简写属性。用于把所有用于列表的属性设置于一个声明中
    list-style-image	将图象设置为列表项标志。
    list-style-position	设置列表中列表项标志的位置。
    list-style-type	    设置列表项标志的类型。

    注意：将列表符号改成图片简写操作 list-style: square url("sqpurple.gif");
*/

/* 学习表格 
    将表格线(双线改变成单挑线)
    
    border-collapse: collapse;
 */
 /*
    边框
    border-width
    border-style (required)
    border-color
    border
 */
 /* 
    轮廓
    outline     以下简写: 颜色 样式 宽度
    outline-color   轮廓颜色
    outline-style   轮廓样式
    outline-width   轮廓宽度

 */

 /* 
    外边距
    margin  (上 右 下 左 || 上下 左右 || 上 左右 下)
    margin-right
    margin-left
    margin-top
    margin-bottom
    margin:auto 标签 内容居中 注意: 使用 margin:auto 无法兼容 IE8,
    
    内填充

    padding     (上 右 下 左 || 上下 左右 || 上 左右 下)
    padding-right
    padding-left
    padding-top
    padding-bottom
 */


 /* 
    分组选择器 将css 重复的代码 放到一个里面使用 , 分隔

    嵌套选择器 将多个属性分别嵌套匹配 设置不同的样式
 */
 
 /* 尺寸属性    尺寸描述    
    height	    设置元素的高度。
    line-height	设置行高。
    max-height	设置元素的最大高度。
    max-width	设置元素的最大宽度。
    min-height	设置元素的最小高度。
    min-width	设置元素的最小宽度。
    width	    设置元素的宽度
 */

 /* 
    CSS Display(显示) 与 Visibility（可见性）
    两者区别:
        visibility:hidden可以隐藏某个元素，但隐藏的元素仍需占用与未隐藏之前一样的空间。也就是说，该元素虽然被隐藏了，但仍然会影响布局
        display:none可以隐藏某个元素，且隐藏的元素不会占用任何空间。也就是说，该元素不但被隐藏了，而且该元素原本占用的空间也会从页面布局中消失

 */

 /* 
   定位        属性值描述
   position    static      貌似没有效果
               relative    绝对定位,根据窗口进行 绝对定位 位置在窗口当中一直不变
               fixed       相对定位,根据原来的 位置进行定位
               absolute    针对父类 进行定位 ,如果父类没有定位 则针对html
               sticky      类似导航 向下滑动的时候 贴在窗口最上方 
              
 */

 /*   
   滚动框      属性值描述
   overflow    visible	默认值。内容不会被修剪，会呈现在元素框之外。
               hidden	内容会被修剪，并且其余内容是不可见的。
               scroll	内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。
               auto	   如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。
               inherit	规定应该从父元素继承 overflow 属性的值。
 */
 
 /* 
   浮动
   float left || right
   clear:both  清除浮动
 */



 /*
    圆角
    border-radius:50px;
    盒子阴影 
    box-shadow: 10px 10px 5px #888888;
    
    -webkit-border-image:url()
    -o-border-image:url()
    border-image:url()
 */



 /*
    新背景属性
    background-clip     规定（剪切）背景的绘制区域。
        border-box      默认值 到方框边框
        padding-box     剪切成方框内
        content-box     剪切成内容方框

    background-origin   规定（定位）背景图片的定位区域。
        border-box      默认值 到方框边框
        padding-box     边框相对的图片背景
        content-box     内容相对的图片背景

    background-size     设置图片的大小 宽高

    设置多背景图片:
    background-image:url()no-repart,url();
    */

/*
    渐变： 让多个颜色之前显示平稳的过渡

    线性渐变（Linear Gradients）- 向下/向上/向左/向右/对角方向
    径向渐变（Radial Gradients）- 由它们的中心定义

    从上到线性渐变
    background: linear-gradient(red, blue); 标准的语法
    从左到右线性渐变
    background: linear-gradient(to right, red , blue);  标准的语法 
    对角渐变
    background: linear-gradient(to bottom right, red , blue);  标准的语法
    不均匀分布
    background: linear-gradient(red 10%, green 85%, blue 90%);  标准的语法（必须放在最后） 
    透明度 渐变
    background: linear-gradient(to right, rgba(225,1,1.1), rgba(225,1,1,0)); rgba 最后一个参数代表透明度 0,1
    
    
    */


    /* 
    阴影制作 卡片效果案例：

    图片版本：
    div.polaroid {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin:10px;
            
        }

        div.container {
        padding: 10px;
        }

    文字版本：
        div.card {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            }

            div.header {
                background-color: #4CAF50;
                color: white;
                padding: 10px;
                font-size: 40px;
            }

            div.container {
                padding: 10px;
            }
    */


/* 
    允许长文本换行：word-wrap:break-word;
    单词拆分：	word-break:keep-all;
    
    */


/* 
    2D转换
    transform:
        translate()方法，根据左(X轴)和顶部(Y轴)位置给定的参数，从当前元素位置移动。
        rotate()方法，在一个给定度数顺时针旋转的元素。负值是允许的，这样是元素逆时针旋转。
        scale()方法，该元素增加或减少的大小，取决于宽度（X轴）和高度（Y轴）的参数：
        skew()方法，包含两个参数值，分别表示X轴和Y轴倾斜的角度，如果第二个参数为空，则默认为0，参数为负表示向相反方向倾斜。

*/
/*
    过渡

    transition

    transition:width 2s;
	-webkit-transition:width 2s;  Safari
*/


/*
 多列
 */